<div class="flex flex-col md:flex-row gap-8">
    <div class="grid grid-cols-2 gap-4 basis-1/3">
        <div class="p-8 bg-white text-primary rounded-xl flex flex-col items-center">
            <div class="text-6xl font-semibold">15M+</div>
            <div class="mt-4">Requests</div>
        </div>
        <div class="p-8 bg-white text-primary rounded-xl flex flex-col items-center">
            <div class="text-6xl font-semibold">7.1K+</div>
            <div class="mt-4">Users</div>
        </div>
        <div class="p-8 bg-white text-primary rounded-xl flex flex-col items-center">
            <div class="text-6xl font-semibold">647</div>
            <div class="mt-4">Features</div>
        </div>
        <div class="p-8 bg-white text-primary rounded-xl flex flex-col items-center">
            <div class="text-6xl font-semibold">1.5M+</div>
            <div class="mt-4">Visitors</div>
        </div>
    </div>
    <div class="flex flex-col gap-4 basis-2/3 justify-between">
        <div class="flex flex-col gap-4 text-center md:text-left">
            <div class="font-semibold text-primary text-2xl">What is an API?</div>
            <div class="text-black text-base md:text-xl">APIs are mechanisms that enable two software components to communicate with each other using a set of definitions and protocols.</div>
        </div>
        <div class="flex flex-col gap-4 text-center md:text-left">
            <div class="font-semibold text-primary text-2xl">How do APIs work?</div>
            <div class="text-black text-base md:text-xl">API architecture is usually explained in terms of client and server. The application sending the request is called the client, and the application sending the response is called the server.</div>
        </div>
    </div>
</div>