<div class="flex flex-col md:flex-row gap-8 justify-center items-center">
    <div class="basis-1/2 flex flex-col gap-4 md:gap-6 items-center text-center md:text-left md:items-start">
        <h1 class="font-extrabold text-3xl text-primary">Light Garden Rest API</h1>
        <div class="font-semibold text-primary text-base md:text-xl">Lupakan segalanya mari bermain bot bersama OKTA.</div>
        <div class="flex gap-4 items-center">
            <div class="px-4 py-2 rounded-xl border hover:bg-primary hover:text-white transition-all duration-700 border-primary w-fit text-primary cursor-pointer"><a href="/pricing">Buy Now</a></div>
            <div class="px-4 py-2 rounded-xl bg-primary w-fit text-white cursor-pointer hover:bg-white hover:text-primary hover:border-primary border transition-all duration-700"><a href="/dashboard">Documentation</a></div>
        </div>
    </div>
    <div class="basis-1/2">
        <img src="./image/header.png" alt="hero-header">
    </div>
</div>
